html {
    height: 100%;
}

body {
    color: white;
}

.bg-img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 130px;
    padding-bottom: 150px;
}

.container h1 {
    color: white;
    font-weight: bold;
}

.wrapper {
    height: 100%;
    width: 44%;
    margin-right: 28%;
    float: right;
}

.panel {
    height: 100%;
    border-radius: 0;

    background-color: rgba(0,0,0, 0.1);
    backdrop-filter: blur(24px);
}

.panel-body {
    padding: 50px;
    height: 100%;
}

.site-title {
    margin: 25px 0 25px !important;
    text-align: center;
}

.remember-me {
    width: 100%;
    margin-bottom: 20px;
    min-height: 22px;
}

.remember-me span {
    vertical-align: middle;
}

.submit-form {
    text-align: center;
}

.form-control {
    border-radius: 0;
    margin-bottom: 16px;
    height: 46px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 15px;
    direction: ltr;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

.img-container {
    width: 100%;
    text-align: center;
}

.img-container img {
    width: 60%;
}

.btn-login {
    border-radius: 0;
}

.login-error {
    min-height: 25px;
}

.login-error span {
    color: red;
    font-size: 12px;
}
